.jumbotron-nadas {
    background-color: #1e424a !important;
}

.hidden-link a {
    text-decoration: none;
    color:#839496 !important;
}

ol li {
    display: list-item;
    list-style-position: inside;
    list-style-type: decimal;
  }

.td-left {
    text-align: right;
    padding-right:10px;
    vertical-align: middle;
    border-right: 1px solid #839496;
    width:50%;
}

.td-right {
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    width:50%;
    text-wrap:normal;
    word-wrap:break-word;
}

.td-placeholder {
    padding-bottom:10px;
}